<header id="event">
  <h1>
    <span class="info-for">Crewinfo</span>
    <span class="event"><%= @current_event.name %></span>
  </h1>
</header>

<% @messages.each do |message| %>
<section class="content">
  <div class="message">
    <h2><%= message.headline %></h2>
    <%= simple_format message.text %>
  </div>
</section>
<% end %>


<section class="content">
  <h2>Kommande måltider</h2>
  <% if @upcoming_food_services.size > 0 %>
    <div class="content-columns">
      <% @upcoming_food_services.each do |food_service| %>
        <div class="column half-width">
          <%= render 'food_service', food_service: food_service %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Det är slut på mat för den här gången.</p>
  <% end %>
  <p><a class="button" href="<%= food_services_path %>">Hela matsedeln</a></p>
</section>
