<td class="full-field">
  <input id="radio_order_radio_loans_attributes_{{sequence}}_description" name="radio_order[radio_loans_attributes][{{sequence}}][description]" size="30" type="text">
</td>
<td>
  <label class="button">
    <input name="radio_order[radio_loans_attributes][{{sequence}}][_destroy]" type="hidden" value="0">
    <input class="destroy" id="radio_order_radio_loans_attributes_{{sequence}}__destroy" name="radio_order[radio_loans_attributes][{{sequence}}][_destroy]" type="checkbox" value="1">
    Ta bort
  </label>
</td>
