<td class="full-field">
  <input id="radio_order_radio_loans_attributes_{{sequence}}_description" name="radio_order[radio_loans_attributes][{{sequence}}][description]" size="30" type="text">
</td>
<td class="full-field">
  <input id="radio_order_radio_loans_attributes_{{sequence}}_pickup" name="radio_order[radio_loans_attributes][{{sequence}}][pickup]" size="30" type="text">
</td>
<td class="full-field">
  <input id="radio_order_radio_loans_attributes_{{sequence}}_return" name="radio_order[radio_loans_attributes][{{sequence}}][return]" size="30" type="text">
</td>
<td>
  <label>
    <input name="radio_order[radio_loans_attributes][{{sequence}}][remote_speaker_accessory]" type="hidden" value="0">
    <input id="radio_order_radio_loans_attributes_{{sequence}}_remote_speaker_accessory" name="radio_order[radio_loans_attributes][{{sequence}}][remote_speaker_accessory]" type="checkbox" value="1">
    Monofon
  </label>
  <label>
    <input name="radio_order[radio_loans_attributes][{{sequence}}][earpiece_accessory]" type="hidden" value="0">
    <input id="radio_order_radio_loans_attributes_{{sequence}}_earpiece_accessory" name="radio_order[radio_loans_attributes][{{sequence}}][earpiece_accessory]" type="checkbox" value="1">
    Öronsnäcka
  </label>
  <label>
    <input name="radio_order[radio_loans_attributes][{{sequence}}][headset_accessory]" type="hidden" value="0">
    <input id="radio_order_radio_loans_attributes_{{sequence}}_headset_accessory" name="radio_order[radio_loans_attributes][{{sequence}}][headset_accessory]" type="checkbox" value="1">
    Hörlur
  </label>
</td>
<td>
  <label class="button">
    <input name="radio_order[radio_loans_attributes][{{sequence}}][_destroy]" type="hidden" value="0">
    <input class="destroy" id="radio_order_radio_loans_attributes_{{sequence}}__destroy" name="radio_order[radio_loans_attributes][{{sequence}}][_destroy]" type="checkbox" value="1">
    Ta bort
  </label>
</td>
