<section class="content">
  <h1><%= @cco_user.username %></h1>

  <p><img src="<%= @cco_user.badge_picture_url(150, 150) %>" width="150" height="150" alt="<%= @cco_user.username %>"></p>

  <p><%= @cco_user.firstname %> <%= @cco_user.lastname %></p>
</section>

<section class="content">
  <h2>Eventinfo</h2>

  <% if @event_info.nil? %>
    <p><%= @cco_user.username %> har inte angivit eventinfo.</p>
  <% else %>
    <%= form_tag check_in_admin_person_path do %>
      <dl>
        <dt>Incheckad</dt>
        <dd>
          <% if @event_info.checkedin %>
            Ja, <%=l @event_info.checkedin_at, format: :short %> av <%= @event_info.checkedin_by %>
          <% else %>
            Nej <input type="submit" value="Checka in">
          <% end %>
        </dd>
      </dl>
    <% end %>
  <% end %>
</section>

<section class="content">
  <h2>Beställda t-shirts</h2>
  <% if @t_shirt_orders.size > 0 %>
    <ul>
      <% @t_shirt_orders.each do |order| %>
        <li>
          <%= order.model_text %> – <%= order.size_text %>
          <% if order.picked_up_at %>
            – Utlämnad <%=l order.picked_up_at, format: :short %>
          <% else %>
            <%= form_tag pick_up_t_shirt_admin_person_path do %>
              <%= hidden_field_tag :t_shirt_order_id, order.id %>
              <input type="submit" value="Lämna ut">
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p><em>Inga t-shirts valda i tid.</em></p>
  <% end %>
</section>

<section class="content">
  <h2>Crewservicer</h2>

  <%= form_for [ :admin, @person ], method: :put, url: admin_person_path(@cco_user.uid) do |f| %>
    <p><%= f.check_box :administrator %> Administratör</p>

    <% unless @person.persisted? %>
      <p><%= @cco_user.username %> har inte lags till i Crewservicer än.</p>
    <% end %>

    <p><input type="submit" value="<% if @person.persisted? %>Spara<% else %>Lägg till och spara<% end %>"></p>
  <% end %>
</section>
