<h1>Lämna tillbaka radioutrustning</h1>
<section class="content">
  <p>Beskrivning: <%= @radio_order.description %></p>
  <p>Period: <%=l @radio_order.pickup_time, format: :short %> - <%=l @radio_order.return_time, format: :short %></p>

  <% if @radio_order.errors.size > 0 %>
    <div class="errors">
      <span class="error-icon icon large">&#9888;</span>
      <p>Några fält måste korrigeras</p>
      <ul>
        <% @radio_order.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_tag return_equipment_admin_radio_order_path(@radio_order) do |f| %>
    <h2>Utlämnade radios</h2>
    <% if @picked_up_radio_loans.any? %>
      <table id="radio-loans">
        <thead>
          <tr>
            <th></th>
            <th>Beskrivning</th>
            <th>Serienummer</th>
          </tr>
        </thead>
        <tbody>
          <% @picked_up_radio_loans.each do |radio_loan| %>
            <tr>
              <td>
                <%= check_box_tag 'radio_loan_ids[]', radio_loan.id, false, class: 'select-row' %>
              </td>
              <td>
                <%= radio_loan.description %>
              </td>
              <td>
                <% if radio_loan.radio %>
                  <%= radio_loan.radio.serial_number %>
                <% else %>
                  –
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>Inga radios utlämnade.</p>
    <% end %>

    <% if @other_radio_loans.any? %>
      <h2>Övriga radios</h2>
      <table id="radio-loans">
        <thead>
        <tr>
          <th>Beskrivning</th>
          <th>Status</th>
          <th>Serienummer</th>
        </tr>
        </thead>
        <tbody>
        <% @other_radio_loans.each do |radio_loan| %>
          <tr>
            <td>
              <%= radio_loan.description %>
            </td>
            <td>
              <% case radio_loan.status when :returned %>
                Tillbakalämnad <%=l radio_loan.returned_at, format: :short %>
              <% when :picked_up %>
                Utlämnad <%=l radio_loan.picked_up_at, format: :short %>
              <% when :prepared %>
                Förberedd
              <% when :new %>
                Ny
              <% end %>
            </td>
            <td>
              <% if radio_loan.radio %>
                <%= radio_loan.radio.serial_number %>
              <% else %>
                –
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <h2>Tillbehör</h2>
    <table id="accessories">
      <thead>
        <tr>
          <th></th>
          <th>Utlämnade</th>
          <th>Lämnas tillbaka</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monofoner</td>
          <td><%= @radio_order.remote_speakers_picked_up %></td>
          <td class="full-field"><%= text_field_tag :remote_speakers, params[:remote_speakers] %></td>
        </tr>
        <tr>
          <td>Snäckor</td>
          <td><%= @radio_order.earpieces_picked_up %></td>
          <td class="full-field"><%= text_field_tag :earpieces %></td>
        </tr>
        <tr>
          <td>Hörlurar</td>
          <td><%= @radio_order.headsets_picked_up %></td>
          <td class="full-field"><%= text_field_tag :headsets %></td>
        </tr>
      </tbody>
    </table>

    <p>
      <input class="submit-button" type="submit" value="Lämna tillbaka vald utrustning">
    </p>
  <% end %>
</section>

<% content_for :subnav do %>
  <%= render 'admin/radio_subnav' %>
<% end %>
