<h1>Radiobeställningar</h1>

<section class="content">
  <% if @radio_orders.size > 0 %>
    <table id="dishes">
      <thead>
        <tr>
          <th>Beskrivning</th>
          <th>Period</th>
          <th>Radios</th>
          <th><abbr title="Förberedda radios">Förb.</abbr></th>
          <th><abbr title="Utlämnade radios">Utl.</abbr></th>
          <th>Tillbehör</th>
        </tr>
      </thead>
      <tbody>
        <% @radio_orders.each do |radio_order| %>
          <tr>
            <td>
              <a href="<%= admin_radio_order_path(radio_order) %>"><%= radio_order.description %></a>
            </td>
            <td>
                <%=l radio_order.pickup_time, format: :short %> -<br>
                <%=l radio_order.return_time, format: :short %>
            </td>
            <td>
              <%= @radio_loan_counts[radio_order.id] || 0 %> st
            </td>
            <td>
              <%= @prepared_radio_loan_counts[radio_order.id] || 0 %> st
            </td>
            <td>
              <%= @picked_up_radio_loan_counts[radio_order.id] || 0 %> st
            </td>
            <td>
              <% if radio_order.remote_speakers > 0 %>
                Monofoner: <%= radio_order.remote_speakers %> st, <%= radio_order.remote_speakers_picked_up %> st utl.<br>
              <% end %>
              <% if radio_order.earpieces > 0 %>
                Öronsnäckor: <%= radio_order.earpieces %> st, <%= radio_order.earpieces_picked_up %> st utl.<br>
              <% end %>
              <% if radio_order.headsets > 0 %>
                Hörlurar: <%= radio_order.headsets %> st, <%= radio_order.headsets_picked_up %> st utl.<br>
              <% end %>
              <% if radio_order.charging_stations > 0 %>
                Laddstat.: <%= radio_order.charging_stations %> st, <%= radio_order.charging_stations_picked_up %> st utl.<br>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>Inga radiobeställningar inkomna för det här eventet.</p>
  <% end %>
  <p><a href="<%= new_admin_radio_order_path %>" class="button">Ny radiobeställning</a></p>
</section>

<% content_for :subnav do %>
  <%= render 'admin/radio_subnav' %>
<% end %>
