<h1>Radiobeställning</h1>
<section class="content">
  <p>Beskrivning: <%= @radio_order.description %></p>
  <h2>Radios</h2>
  <%= form_tag next_loan_status_admin_radio_order_path(@radio_order) do %>
    <table id="radio-loans">
      <thead>
        <tr>
            <th></th>
            <th>Beskrivning</th>
            <th>Period</th>
            <th>Tillbehör</th>
            <th>Status</th>
            <th>Serienummer</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <% @radio_order.radio_loans.each do |radio_loan| %>
          <tr data-status-row-type="<% case radio_loan.status when :prepared %>pickup<% when :picked_up %>return<% end %>">
            <td>
              <% case radio_loan.status when :prepared %>
                <%= check_box_tag 'pickup_radio_loan_ids[]', radio_loan.id, false, class: 'select-row' %>
              <% when :picked_up %>
                <%= check_box_tag 'return_radio_loan_ids[]', radio_loan.id, false, class: 'select-row' %>
              <% end %>
            </td>
            <td>
              <%= radio_loan.description %>
            </td>
            <td>
              <%=l radio_loan.pickup, format: :short %> -
              <%=l radio_loan.return, format: :short %>
            </td>
            <td>
              <% if radio_loan.remote_speaker_accessory? %>Monofon<% end %>
              <% if radio_loan.earpiece_accessory? %>Öronsnäcka<% end %>
              <% if radio_loan.headset_accessory? %>Hörlur<% end %>
            </td>
            <td>
              <% case radio_loan.status when :returned %>
                Tillbakalämnad <%=l radio_loan.returned_at, format: :short %>
              <% when :picked_up %>
                Utlämnad <%=l radio_loan.picked_up_at, format: :short %>
              <% when :prepared %>
                Förberedd
              <% when :new %>
                Ny
              <% end %>
            </td>
            <td>
              <% if radio_loan.radio %>
                <%= radio_loan.radio.serial_number %>
              <% else %>
                –
              <% end %>
            </td>
            <td>
              <a class="button" href="<%= admin_radio_order_radio_loan_path(@radio_order, radio_loan) %>">
              <% case radio_loan.status when :new %>
                Förbered
              <% else %>
                Visa
              <% end %>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p id="radio-loans-actions" class="submit-active">
      <span class="submit"><input class="submit-button" id="change-status-submit" type="submit" value="Lämna ut/lämna tillbaka markerade" data-pickup-title="Lämna ut markerade" data-return-title="Lämna tillbaka markerade"></span>
      <span class="select-hint">Markera radios för att lämna ut eller tillbaka.</span>
    </p>
    <p><a class="button" href="<%= edit_admin_radio_order_path(@radio_order) %>">Redigera</a></p>
  <% end %>
</section>

<% content_for :javascript_init do %>
  <script type="text/javascript">
    window.addEvent("domready", function() {
      var actions = new RadioOrders.RadioLoanStatusActions($("radio-loans-actions"));
      new RadioOrders.RadioLoanStatusTable($("radio-loans"), actions);
    });
  </script>
<% end %>