<!DOCTYPE html>
<html>
  <head>
    <title>Crewservicer</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "admin" if administrator? %>
    <%= csrf_meta_tags %>
    <%= auto_discovery_link_tag(:atom, messages_path(:atom)) %>
  </head>
  <body class="<% if content_for? :subnav %>subnav<% end %>">
    <% if administrator? %>
      <nav id="admin-nav">
        <ul>
            <li>
                <a href="<%= dashboard_path %>">Start</a>
            </li>
            <li>
                <a href="<%= search_admin_people_path %>">Incheckning & utlämning</a>
            </li>
            <li>
                <a href="<%= admin_radios_path %>">Radios</a>
            </li>
            <li>
                <a href="<%= admin_messages_path %>">Information</a>
            </li>
            <li>
                <a href="<%= admin_events_path %>">System</a>
            </li>
        </ul>
      </nav>
    <% end %>

    <div id="container">
      <% if content_for? :subnav %>
        <nav id="subnav">
          <div class="fixed-holder">
            <%= yield :subnav %>
          </div>
        </nav>
      <% end %>

      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "admin" if administrator? %>
    <%= yield :javascript_init %>
  </body>
</html>
